In [120]:
#Import Dependencies
import pandas as pd

In [121]:
#Import file 
file = "Resources/purchase_data.csv"

In [122]:
data = pd.read_csv(file, encoding="ISO-8859-1")
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [123]:
#Check that the data types are all correct
data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [124]:
# Create a list of all columns for referencing
data_col = ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

# Explore the Data

## Player Summary Statistics

In [110]:
players = data["SN"].nunique()
print("Total number of players: " + str(players))

Total number of players: 576

In [115]:
#Create a new data frame for dhttp://localhost:8888/notebooks/pandas-challenge/Heroes_of_Pymoli/main.ipynb#etermining gender and age counts
player_df = data.groupby(["SN", "Age", "Gender"], as_index = False).count()
player_df

                SN  Age  Gender  Purchase ID  Item ID  Item Name  Price  count
0     Adairialis76   16    Male            1        1          1      1      1
1      Adastirin33   35  Female            1        1          1      1      1
2           Aeda94   17    Male            1        1          1      1      1
3           Aela59   21    Male            1        1          1      1      1
4        Aelaria33   23    Male            1        1          1      1      1
..             ...  ...     ...          ...      ...        ...    ...    ...
571     Yathecal82   20  Female            3        3          3      3      3
572     Yathedeu43   22    Male            2        2          2      2      2
573  Yoishirrala98   17  Female            1        1          1      1      1
574     Zhisrisu83   10    Male            2        2          2      2      2
575      Zontibe81   21    Male            3        3          3      3      3

[576 rows x 8 columns]

In [112]:
print("Summary of Player Gender")
print("----------------------------")
player_df["Gender"].value_counts()

Summary of Player Gender
----------------------------

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [113]:
print("Summary Statistics of Player Age")
print("--------------------------------")
round(player_df["Age"].describe(),2)

Summary Statistics of Player Age
--------------------------------

count    576.00
mean      22.74
std        6.84
min        7.00
25%       19.00
50%       22.00
75%       25.00
max       45.00
Name: Age, dtype: float64

## Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [102]:
#Create male variables
male = player_df.loc[player_df["Gender"] == "Male"]
male_count = male["Gender"].count()

#Create female variables
female = player_df.loc[player_df["Gender"] == "Female"]
female_count = female["Gender"].count()

#Create other variables
other = player_df.loc[player_df["Gender"] == "Other / Non-Disclosed"]
other_count = other["Gender"].count()

#Create total number of players variable
total = player_df["Gender"].count()

In [114]:
male_per = round((male_count / total) * 100,2)
female_per = round((female_count / total) * 100,2)
other_per = round((other_count / total) * 100,2)

print("Percentage of Male players: " + str(male_per) + "%")
print("")
print("Percentage of Female players: " + str(female_per) + "%")
print("")
print("Percentage of Other/Non-Disclosed players: " + str(other_per) + "%")

Percentage of Male players: 84.03%

Percentage of Female players: 14.06%

Percentage of Other/Non-Disclosed players: 1.91%

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
#Create new df for calculating Gender Stats
gender_stat_df = data

#Total number of purchases
gender_stat_total = gender_stat_df["Purchase ID"].count()
gender_stat_total

780

In [142]:
#Total amount spent
gender_stat_sum = gender_stat_df["Price"].sum()
gender_stat_sum

2379.77

In [163]:
#Total Average amount spent per transaction
gender_stat_avg = round(gender_stat_df["Price"].mean(),2)
gender_stat_avg

3.05

In [175]:
#Create complete dfs specific to gender
male_stat_count = gender_stat_df.loc[gender_stat_df["Gender"] == "Male", data_col]
female_stat_count = gender_stat_df.loc[gender_stat_df["Gender"] == "Female", data_col]
other_stat_count = gender_stat_df.loc[gender_stat_df["Gender"] == "Other / Non-Disclosed", data_col]

In [165]:
#Male number of purchases
male_stat_total = male_stat_count["Purchase ID"].count()
male_stat_total

652

In [166]:
#Male amount spent
male_stat_sum = male_stat_count["Price"].sum()
male_stat_sum

1967.64

In [194]:
#Avg number of purchases
male_stat_avg_no = round(male["count"].mean(),2)
male_stat_avg_no

1.35

In [167]:
#Female Average spent
male_stat_avg = round(male_stat_count["Price"].mean(),2)
male_stat_avg

3.02

In [169]:
#Female number of purchases
fem_stat_total = female_stat_count["Purchase ID"].count()
fem_stat_total

113

In [170]:
#Female amount spent
fem_stat_sum = female_stat_count["Price"].sum()
fem_stat_sum

361.94

In [195]:
#Avg number of purchases
female_stat_avg_no = round(female["count"].mean(),2)
female_stat_avg_no

1.4

In [171]:
#Female Average spent
fem_stat_avg = round(female_stat_count["Price"].mean(),2)
fem_stat_avg

3.2

In [176]:
#Other number of purchases
o_stat_total = other_stat_count["Purchase ID"].count()
o_stat_total

15

In [177]:
#Other amount spent 
o_stat_sum = other_stat_count["Price"].sum()
o_stat_sum

50.19

In [196]:
#Avg number of purchases Other
o_stat_avg_no = round(other["count"].mean(),2)
o_stat_avg_no

1.36

In [178]:
#Other Average spent
o_stat_avg = round(other_stat_count["Price"].mean(),2)
o_stat_avg

3.35

In [201]:
#Create Summary Table
gender_sum_table = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                "Total Purchases": [male_stat_total, fem_stat_total, o_stat_total],
                                 "Avg No. of Purchases": [male_stat_avg_no, female_stat_avg_no, o_stat_avg_no],
                                "Total Spent": [male_stat_sum, fem_stat_sum, o_stat_sum],
                               "Average Spent": [male_stat_avg, fem_stat_avg, o_stat_avg]})
gender_sum_table["Total Spent"] = gender_sum_table["Total Spent"].map("${:.2f}".format)
gender_sum_table["Average Spent"] = gender_sum_table["Average Spent"].map("${:.2f}".format)
gender_sum_table

,Gender,Total Purchases,Avg No. of Purchases,Total Spent,Average Spent
0,Male,652,1.35,$1967.64,$3.02
1,Female,113,1.40,$361.94,$3.20
2,Other / Non-Disclosed,15,1.36,$50.19,$3.35