In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Import file 
file = "Resources/purchase_data.csv"

In [3]:
data = pd.read_csv(file, encoding="ISO-8859-1")

# Game Analysis

In [4]:
#Total number of games
games = len(data["Item ID"].unique())

#Create a new data frame for determining game statistics
games_df = data.groupby(["Item ID", "Item Name", "Price"], as_index = False).count()

#Summary statistics for games
g_avg = games_df["Price"].mean()
g_max = games_df["Price"].max()
g_min = games_df["Price"].min()

#Create Summary Table
game_sum_table = pd.DataFrame({"Number of Games": games,
                               "Average Price": [g_avg],
                                "Highest Price": [g_max],
                                 "Lowest Price": [g_min]})

#Formatting of Summary Table
game_sum_table["Average Price"] = game_sum_table["Average Price"].map("${:.2f}".format)
game_sum_table["Highest Price"] = game_sum_table["Highest Price"].map("${:.2f}".format)
game_sum_table["Lowest Price"] = game_sum_table["Lowest Price"].map("${:.2f}".format)

game_sum_table

   Number of Games Average Price Highest Price Lowest Price
0              179         $3.04         $4.99        $1.00

# Player Analysis

In [5]:
players = len(data["SN"].unique())
print("Total number of players: " + str(players))

Total number of players: 576

## Gender Demographics

In [6]:
player_df = data.groupby(["SN", "Gender"], as_index = False).count()

#Create total number of players variable
total = len(player_df["Gender"])
male = len(player_df.loc[player_df["Gender"] == "Male"])
female = len(player_df.loc[player_df["Gender"] == "Female"])
other = len(player_df.loc[player_df["Gender"] == "Other / Non-Disclosed"])

#Calculate Percentages
male_per = male / total
female_per = female / total
other_per = other / total

#Create DataFrame for Gender Statistics
player_per_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                              "Total": [male, female, other],
                              "Percentage": [male_per, female_per, other_per]})

#Dataframe Formatting
player_per_df["Percentage"] = player_per_df["Percentage"].map("{:,.2%}".format)

player_per_df

                  Gender  Total Percentage
0                   Male    484     84.03%
1                 Female     81     14.06%
2  Other / Non-Disclosed     11      1.91%

## Purchasing Analysis (Gender)

In [7]:
#Create sex specific data frames
male_df = player_df.loc[player_df["Gender"] == "Male"]
female_df = player_df.loc[player_df["Gender"] == "Female"]
other_df = player_df.loc[player_df["Gender"] == "Other / Non-Disclosed"]

In [8]:
#Create total gender variable statistics of interest
total = len(data["Purchase ID"])
avg_no = player_df["Purchase ID"].mean()
sum_spent = data["Price"].sum()
avg_spent= round(data["Price"].mean(),2)

In [9]:
#Create complete dfs specific to gender
m_df = data.loc[data["Gender"] == "Male"]
f_df = data.loc[data["Gender"] == "Female"]
o_df = data.loc[data["Gender"] == "Other / Non-Disclosed"]

In [10]:
#Create male variable statistics of interest
m_total = m_df["Purchase ID"].count()
m_sum = m_df["Price"].sum()
m_avg_no = male_df["Price"].mean()
m_avg = m_df["Price"].mean()

In [11]:
#Create female variable statistics of interest
f_total = f_df["Purchase ID"].count()
f_sum = f_df["Price"].sum()
f_avg_no = female_df["Price"].mean()
f_avg = f_df["Price"].mean()

In [12]:
#Create other variable statistics of interest
o_total = o_df["Purchase ID"].count()
o_sum = o_df["Price"].sum()
o_avg_no = other_df["Price"].mean()
o_avg = o_df["Price"].mean()

In [13]:
#Create Summary Table
gender_sum_table = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed", "Overall"],
                                "Total Purchases": [m_total, f_total, o_total, total],
                                 "Avg No. of Purchases": [m_avg_no, f_avg_no, o_avg_no, avg_no],
                                "Total Spent": [m_sum, f_sum, o_sum, sum_spent],
                               "Average Spent": [m_avg, f_avg, o_avg, avg_spent]})
gender_sum_table["Total Spent"] = gender_sum_table["Total Spent"].map("${:.2f}".format)
gender_sum_table["Average Spent"] = gender_sum_table["Average Spent"].map("${:.2f}".format)
gender_sum_table["Avg No. of Purchases"] = gender_sum_table["Avg No. of Purchases"].map("{:.2f}".format)
gender_sum_table

,Gender,Total Purchases,Avg No. of Purchases,Total Spent,Average Spent
0,Male,652,1.35,$1967.64,$3.02
1,Female,113,1.40,$361.94,$3.20
2,Other / Non-Disclosed,15,1.36,$50.19,$3.35
3,Overall,780,1.35,$2379.77,$3.05

## Age Demographics

In [14]:
bins = [0,11, 21, 31, 41, 51]
labels = ["0 to 10", "11 to 20", "21 to 30", "31 to 40", "40 +"]

In [15]:
#Place the data series into a new column inside the DataFrame
data["Age Group"] = pd.cut(data["Age"], bins, labels=labels)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,11 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,31 to 40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 30
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 30
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 30

In [16]:
#Convert Age group to an object data type
data["Age Group"] = data["Age Group"].astype('object')

In [17]:
age_df = data.groupby(["SN", "Age Group"], as_index = False).count()

#Create total number of players variable
total = len(age_df["Age Group"])
u10 = len(age_df.loc[age_df["Age Group"] == "0 to 10"])
u20 = len(age_df.loc[age_df["Age Group"] == "11 to 20"])
u30 = len(age_df.loc[age_df["Age Group"] == "21 to 30"])
u40 = len(age_df.loc[age_df["Age Group"] == "31 to 40"])
o40 = len(age_df.loc[age_df["Age Group"] == "40 +"])

#Calculate percent
u10_p = u10 / total
u20_p = u20 / total
u30_p = u30 / total
u40_p = u40 / total
o40_p = o40 / total

#Create DataFrame for Gender Statistics
age_per_df = pd.DataFrame({"Age Group": labels,
                              "Total": [u10, u20, u30, u40, o40],
                              "Percentage": [u10_p, u20_p, u30_p, u40_p, o40_p]})

#Dataframe Formatting
age_per_df["Percentage"] = age_per_df["Percentage"].map("{:,.2%}".format)
age_per_df

  Age Group  Total Percentage
0   0 to 10     30      5.21%
1  11 to 20    228     39.58%
2  21 to 30    253     43.92%
3  31 to 40     60     10.42%
4      40 +      5      0.87%

## Puchasing Analysis (Age)

In [18]:
#Group data into age groups
age_df2 = data.groupby(["Age Group"])
users_per_age = age_df["SN"].count()

#Calculate summary statistics for age cohorts
age_count = age_df2["Price"].count()
tot_spent = age_df2["Price"].sum()
avg_spent = age_df2["Price"].mean()
max_spent = age_df2["Price"].max()
min_spent = age_df2["Price"].min()

#Create DataFrame
age_sum_df = pd.DataFrame({"Number of Players": age_count,
                          "Amount Spent": tot_spent,
                          "Average Spent": avg_spent,
                          "Max Spent": max_spent,
                          "Min Spent": min_spent})

#Formatting
age_sum_df["Amount Spent"] = age_sum_df["Amount Spent"].map("${:.2f}".format)
age_sum_df["Average Spent"] = age_sum_df["Average Spent"].map("${:.2f}".format)
age_sum_df["Max Spent"] = age_sum_df["Max Spent"].map("${:.2f}".format)
age_sum_df["Min Spent"] = age_sum_df["Min Spent"].map("${:.2f}".format)
age_sum_df

           Number of Players Amount Spent Average Spent Max Spent Min Spent
Age Group
0 to 10                   39      $127.75         $3.28     $4.93     $1.29
11 to 20                 309      $940.11         $3.04     $4.94     $1.00
21 to 30                 347     $1046.37         $3.02     $4.99     $1.00
31 to 40                  80      $250.55         $3.13     $4.93     $1.02
40 +                       5       $14.99         $3.00     $4.00     $1.70

# Top Spenders

In [27]:
#Group by SN to determine total spent
p_df2 = data.groupby("SN")
top_df = pd.DataFrame(p_df2["Price"].sum()).reset_index()

#Create a demographic data frame and merge
demo_df = top_df.loc[:, ['SN', "Gender", "Age Group"]]
top_df = top_df.merge(demo_df, on="SN")

#Sort 
top_price_df = top_df.sort_values(by="Price", ascending=False)
top_price_df.head()

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

# Most Popular Items

# Most Profitable Items